    <!-- pre-loader start 
    <div class="loader-wrapper img-gif">
        <img src="../assets/images/loader.gif" alt="">
    </div>
     pre-loader end -->

    <% include ./../elements/home-layout/top-menu-layout %>
    <!-- home section start -->
	<section class="cab-section flight-section p-0">
        <div class="cloud">
            <img src="../assets/images/flights/cloud.png" alt="" class="bg-img">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="cab-content">
                        <div>
                            <div class="top-cls">
                                #OKA1-MB
                            </div>
                            <h2>great journey begins</h2>
                            <h3>with a small step</h3>
                            <form action="/setbody/home" method="POST">
                                <div class="form-group">
                                    <img src="../assets/images/icon/from.png" class="img-fluid blur-up lazyload" alt="">
                                    <select class="form-select form-select-lg mb-3" aria-label="Default select example" name="chuyenbaynoidi" style="height: 54px;">
                                        <option selected readonly>From...</option>          
                                        <% print.forEach(function (chuyenbay) { %>
                                        <option><%= chuyenbay.noidi %><hr /> </option>             
                                        <% }) %>
                                      </select>                                            
                                </div>
                                <div class="form-group">                    
                                    <img src="../assets/images/icon/location.png" class="img-fluid blur-up lazyload" alt=""> 
                                    <select class="form-select form-select-lg mb-3" aria-label="Default select example" name="chuyenbaynoiden" style="height: 54px;">
                                        <option selected readonly>To...</option>          
                                        <% print.forEach(function (chuyenbay) { %>
                                        <option><%= chuyenbay.noidi %></option>             
                                        <% }) %>
                                    </select>                      
                                </div>
                                <div class="form-group">
                                    <div class="col">
                                        <input placeholder="Day..." aria-label="Default select example" id="datepicker" name="chuyenbayngaybay" />
                                    </div>                                   
                                </div>
                                <button type="submit" class="btn btn-rounded color1">book now</button></br>
                            </form>
                            <form class="radio-form" style="margin-top: 12px;">
                                <input id="radio-1" type="radio" name="gender" value="in city" checked>
                                <label for="radio-1" class="radio-label">multi-city route</label>
                                <input id="radio-2" type="radio" name="gender" value="out of city">
                                <label for="radio-2" class="radio-label">non stop flights</label>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!--  home section end -->

    <!-- destination section start -->
	<% include ./../elements/home-layout/destination-section %>
     <!-- destination section end -->
	 
    <!-- airlines detail section start -->
	<% include ./../elements/home-layout/airlines-detail %>
     <!-- airlines detail section end -->

    <!-- flight routes section start -->
	<% include ./../elements/home-layout/flight-routes %>
     <!-- flight routes section end -->

    <!-- banner section start -->
	<% include ./../elements/home-layout/banner-section %>
     <!-- banner section end -->

    <!-- airlines ticket section start -->
	<% include ./../elements/home-layout/airlines-ticket %>
     <!-- airlines ticket section end -->

    <!-- top destination section start -->
	<% include ./../elements/home-layout/top-destination %>
     <!-- top destination section end -->

    <!-- blog section start -->
	<% include ./../elements/home-layout/blog-section %>
     <!-- blog section end -->

    <!-- subscribe section start -->
	<% include ./../elements/home-layout/subscribe-section %>
     <!-- subscribe section end -->

    <!-- footer section start -->
	<% include ./../elements/home-layout/footer-layout %>
     <!-- footer section end -->

    <!-- tap to top -->
    <div class="tap-top">
        <div>
            <i class="fas fa-angle-up"></i>
        </div>
    </div>
    <!-- tap to top end -->

    <!-- setting start -->
    <div class="theme-setting">
        <div class="dark">
            <input class="tgl tgl-skewed" id="dark" type="checkbox">
            <label class="tgl-btn" data-tg-off="Dark" data-tg-on="Light" for="dark"></label>
        </div>
        <div class="rtl">
            <input class="tgl tgl-skewed" id="rtl" type="checkbox">
            <label class="tgl-btn" data-tg-off="RTL" data-tg-on="LTR" for="rtl"></label>
        </div>
    </div>
    <!-- setting end -->